[Unit]
Description=Trivial pine64 fan controller
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /usr/local/bin/pine64_fan.py

[Install]
WantedBy=multi-user.target
